@mixin box-shadow($radius) {
    -webkit-box-shadow: $radius;
    -moz-box-shadow: $radius;
    -ms-box-shadow: $radius;
    box-shadow: $radius;
}

@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin horizontal-align($position: relative) {
    position: $position;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

@mixin vertical-horizontal-align($position: relative) {
    position: $position;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@mixin noselect() {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                          not supported by any browser */
}
@mixin translate($val: translate(50px,100px)){
    -ms-transform: $val; /* IE 9 */
    -webkit-transform: $val; /* Safari */
    transform: $val;
}
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}
@mixin transition($property, $time, $ease){
    -webkit-transition: $property $time $ease;
    -moz-transition: $property $time $ease;
    -o-transition: $property $time $ease;
    -ms-transition: $property $time $ease;
    transition: $property $time $ease;
}

@mixin border-radius($radius: 7px) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
@mixin border-top-left-radius($radius: 7px) {
    -webkit-border-top-left-radius: $radius;
    -moz-border-top-left-radius: $radius;
    -ms-border-top-left-radius: $radius;
    border-top-left-radius: $radius;
}
@mixin border-bottom-right-radius($radius: 7px) {
    -webkit-border-bottom-right-radius: $radius;
    -moz-border-bottom-right-radius: $radius;
    -ms-border-bottom-right-radius: $radius;
    border-bottom-right-radius: $radius;
}
@mixin simple_transition($time) {
    -webkit-transition: $time;
    -moz-transition: $time;
    -o-transition: $time;
    -ms-transition: $time;
    transition: $time;
}

@mixin rotate($degree)  {
    -ms-transform: rotate($degree); /* IE 9 */
    -webkit-transform: rotate($degree); /* Safari */
    transform: rotate($degree);
    -moz-transform: rotate($degree);
    -o-transform: rotate($degree);
}

@mixin transform_rotate($transform, $degree)  {
    @include rotate($degree);
    -ms-transform-origin: $transform; /* IE 9 */
    -webkit-transform-origin: $transform; /* Safari 3-8 */
    transform-origin: $transform;
}

@mixin skew($degree)    {
    -webkit-transform: skew($degree);
    -moz-transform: skew($degree);
    -o-transform: skew($degree);
    transform: skew($degree);
}

@mixin flex(){
    display: flex;
    flex-wrap: wrap;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    -webkit-flex: 1 1 auto;
}

@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 100%;
}